.main__container__navbar{
  display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.seccionLi {
  width: 130px;
  display: flex;
  padding: 16px 14px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex: 1 0 0;
  align-self: stretch;
}

.seccionLi:hover {
  border-radius: 16px;
  background-color: #EAF3FF;
  color: #0D4E88;
}

.seccionLi:focus {
  border-radius: 16px;
  color: #0D4E88;
  outline: none; 
  background-color: #e0e0e0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
} 

#main-navbar-home{
  display: none;
}